<h1>All flights</h1>
<div>
    <% @flights.each do |flight| %>
    <ul>
        <li> Flight name: <%= flight.flight_name  %></li>
        <%= link_to 'View flight details', flight_path( flight ) %>
        <br/>
        <%= link_to 'Edit', edit_flight_path( flight ) %>
        <br/>
        <%= link_to 'Destroy', flight_path( flight ), :method => 'delete' %>
    </ul>
    <% end %>
    <%= link_to 'Add a new flight', new_flight_path %>
</div>