<h1>All flights</h1>
<div>
    <ul>
        <%= @flights.each do |flight| %>
        <li>
            <%= flight.airplane_name %> trip information:
            <br/>
            Origin: <%= flight.origin %>
            <br/>
            Destination: <%= flight.destination %>
            <br/>
            Departure: <%= flight.date %>
            <br/>
            <%= link_to 'Detailed flight information', flight_path %>
        </li>
    </ul>
    <%= link_to 'Add a new flight', new_flight_path %>
</div>