<h1>Detailed flight information</h1>
<br/>
<ul>
    <li>Plane model: <%= @flight.airplane.airplane_name %></li>
    <br/>
    <li>Carrier: <%= @flight.airplane.airline_company %></li>
    <br/>
    <li>Origin: <%= @flight.origin %></li>
    <br/>
    <li>Destination: <%= @flight.destination %></li>
    <br/>
    <li>Time and date: <%= @flight.date %></li>
    <br/>
    <li>Passenger list: ADD</li>
    <br/>
</ul>