<h1>Index of airplanes</h1>
<div>
    <ul>
    <% @airplanes.each do |airplane| %>
        <li>
            <%= airplane.airline_company %>: <%= airplane.airplane_name %>
            <br/>
            <%= link_to 'View details', airplane_path( airplane ) %>
            <br/>
            <%= link_to 'Edit', edit_airplane_path( airplane ) %>
            <br/>            
            <%= link_to 'Destroy', airplane_path( airplane ), :method => 'delete' %>
            <br/>
        </li>
        <% end %>
    </ul>
    <hr>
    <%= link_to 'Add a new plane', new_airplane_path %>

</div>
