<h1>Index of airplanes</h1>
<div>
    <ul>
        <% @airplanes.each do |airplane| %>
        <li>
<<<<<<< HEAD
            <%= airplane.airline_company %>: <%= airplane.airplane_name %>
            <br/>
            <%= link_to 'View plane information', airplane_path( airplane ) %>
            <%= link_to 'Edit airplane', edit_airplane_path( airplane ) %>
            <%= link_to 'Destroy airplane', airplane_path( airplane ), :method => 'delete' %>
            <br/>
        </li>
        <% end %>
    </ul>
    <hr>
    <%= link_to 'Add a new plane', new_airplane_path %>

</div>
=======

            <%= airplane.airline_company %>: <%= airplane.airplane_id %>
            

        </li>
        <% end %>
    </ul>
</div>
>>>>>>> 901bbb275907fae29b85cbfa086c0ab441a9e685
